#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
FLUTTER_ROOT=/Users/exquisapp/flutter
FLUTTER_APPLICATION_PATH=/Users/exquisapp/Documents/SundaySchool
COCOAPODS_PARALLEL_CODE_SIGN=true
FLUTTER_TARGET=/Users/exquisapp/Documents/SundaySchool/lib/main.dart
FLUTTER_BUILD_DIR=build
FLUTTER_BUILD_NAME=1.0.0
FLUTTER_BUILD_NUMBER=1
EXCLUDED_ARCHS[sdk=iphonesimulator*]=i386
EXCLUDED_ARCHS[sdk=iphoneos*]=armv7
DART_OBFUSCATION=false
TRACK_WIDGET_CREATION=true
TREE_SHAKE_ICONS=false
PACKAGE_CONFIG=/Users/exquisapp/Documents/SundaySchool/.dart_tool/package_config.json
